<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ask Me!</title>
    <link rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top" style="background-color: #232427;">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand" href="/index.html" style="color: #fff;">Ask Me!</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-light" type="submit" id="search-button">Search</button>
            </form>

            <div class="d-flex justify-content-between gap-3 me-4">
                <div class="border">
                    <img src="img.jpg" width="50" height="50" />
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <a href="/profile.html">Username</a>
                    <a href="/logout.html">Log out</a>
                </div>
            </div>

            <div class="d-flex justify-content-between gap-3">
                <div class="justify-content-center">
                    <a href="/regiter.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-fluid container-lg mt-3">
        <div class="row">
            <div class="col-8">
                <article class="card mb-3 w-100" id="main-question">
                    <div class="row g-0">
                        <div class="col-2 p-2">
                            <div class="border w-100 mb-3" style="height: 100px;">
                                <img src="img.jpg" class="img-fluid rounded-start" alt="..." />
                            </div>
                            <div class="input-group flex-nowrap">
                                <input type="number" value="5" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/question.html">Question?</a>
                                </h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, error adipisci
                                    molestias quia quaerat necessitatibus modi, sint porro dignissimos, corrupti tempore
                                    consequuntur? Dolorum sapiente explicabo quibusdam itaque sint autem accusantium!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas eaque
                                    reprehenderit vel dolore quos veniam, iure nesciunt sint, illo dolor aut nemo labore
                                    expedita consequatur tenetur, mollitia earum aliquid.
                                </p>
                                <div class="row">
                                    <div class="col-8">
                                        <span>Tags:</span>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                        <a href="/tag.html">tag</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <hr>
                <article class="card mb-3 w-100 mt-4 mx-auto" style="max-width: 80%; max-height: 80%;">
                    <div class="row g-0">
                        <div class="col-2 p-2">
                            <div class="border w-100 mb-3" style="height: 100px;">
                                <img src="img.jpg" class="img-fluid rounded-start" alt="..." />
                            </div>
                            <div class="input-group flex-nowrap">
                                <input type="number" value="5" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <p class="answer-card-text">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum delectus repellat
                                    quas. Reiciendis corrupti deserunt exercitationem soluta dolorum illum modi numquam
                                    labore esse ipsam quasi molestiae voluptatibus, impedit inventore ad.
                                </p>
                                <div class="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label">
                                            Correct
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card mb-3 w-100 mt-4 mx-auto" style="max-width: 80%; max-height: 80%;">
                    <div class="row g-0">
                        <div class="col-2 p-2">
                            <div class="border w-100 mb-3" style="height: 100px;">
                                <img src="img.jpg" class="img-fluid rounded-start" alt="..." />
                            </div>
                            <div class="input-group flex-nowrap">
                                <input type="number" value="5" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <p class="answer-card-text">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore placeat illum
                                    esse pariatur excepturi, magni odit eum minus quibusdam, laboriosam at beatae
                                    repellendus expedita ut distinctio nobis molestiae vero quo.
                                </p>
                                <div class="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label">
                                            Correct
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <hr>
            </div>
            <div class="col-4">
                <h3>Popular Tags</h3>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-secondary"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-success"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-danger"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-warning"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-info"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-light"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                    </div>
                </div>
                <h3 class="mt-5">Best Members</h3>
                <div>
                    <a href="/member.html" class="d-block">Mr. Freeman</a><a href="/member.html" class="d-block">Mr.
                        Freeman</a><a href="/member.html" class="d-block">Mr. Freeman</a><a href="/member.html"
                        class="d-block">Mr. Freeman</a><a href="/member.html" class="d-block">Mr. Freeman</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="p-3" id="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>