<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        {% if pages.has_previous %}
            <li class="page-item">
                <a class="page-link" href="
                {% if question_id %}
                    {% url page_name question_id %}?page={{pages.previous_page_number}}
                {% elif tag_name %}
                    {% url page_name tag_name %}?page={{pages.previous_page_number}}
                {% else %}
                    {% url page_name %}?page={{pages.previous_page_number}}
                {% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="
            {% if question_id %}
                {% url page_name question_id %}?page=1
            {% elif tag_name %}
                {% url page_name tag_name %}?page=1
            {% else %}
                {% url page_name %}?page=1
            {% endif %}">1</a></li>
        {% if pages.number != 1 and pages.number != pages.paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="#">{{pages.number}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link">....</a></li>
        <li class="page-item"><a class="page-link" href="
            {%if question_id %} 
                {% url page_name question_id %}?page={{pages.paginator.num_pages}} 
            {% elif tag_name %}
                {% url page_name tag_name %}?page={{pages.paginator.num_pages}} 
            {% else %} 
                {% url page_name %}?page={{pages.paginator.num_pages}}
            {% endif %}">{{pages.paginator.num_pages}}</a></li>
        {% if pages.has_next %}
            <li class="page-item">
                <a class="page-link" href="
                {%if question_id %} 
                    {% url page_name question_id %}?page={{pages.next_page_number}}
                {% elif tag_name %}
                    {% url page_name tag_name %}?page={{pages.next_page_number}} 
                {% else %} 
                    {% url page_name %}?page={{pages.next_page_number}}
                {% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>