{% load static %}
<article class="card mb-3 w-100">
    <div class="row g-0">
        <div class="col-2 p-2">
            <p class="mb-1">{{ question.user.displayed_name }}</p>
            <div class="w-100 mb-2 d-flex align-items-center" style="height: 100px; overflow: hidden;">
                <img src="{% static 'img/img.jpg' %}" class="img-fluid" alt="...">
            </div>
            <div class="input-group flex-nowrap">
                <input type="number" value="{{ question.rating }}" class="form-control"/>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "question" question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{ question.text }}
                </p>
                <div class="row">
                    <a class="col-4" href="{% url "question" question.id %}">answers ({{ question.answers_count }})</a>
                    <div class="col-8">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                             <a href="{% url "tag" tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>