body {
    background-color: #343a40 ;
    color: #ffffff;
    padding-top: 70px;
}

#footer {
    background-color: #232427;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

article {
    color: #fff; 
    background-color: #4f565e !important;
}

#search-button{
    background-color: #4f565e;
    color: #fff ;
    border-color: rgb(206, 212, 218);
}

input {
    color: lightgoldenrodyellow !important;
    background-color: #4f565e !important;
}

input::placeholder {
    color: rgba(250, 250, 210, 0.767) !important;
}

a{
    color: lightgoldenrodyellow;
}

a:hover{
    color: lightgoldenrodyellow;
}

.page-link {
    color: lightgoldenrodyellow; 
    background-color: #4f565e; 
    border-color: rgb(206, 212, 218);
}

.page-link:hover {
    color: lightgoldenrodyellow; 
    background-color: #232427; 
}

.page-item{
    border-color:  rgb(206, 212, 218) !important;
}

textarea {
    height: 400px;
    resize: none;
}

.form-control {
    color: #fff !important;
    background-color: #4f565e !important;
}

#ask-button{
    background-color: #4f565e;
    color:lightgoldenrodyellow;
    border-color: rgb(206, 212, 218);
    width: 74px;
}

#inputGroup-sizing-lg{
    background-color: #4f565e;
    color: lightgoldenrodyellow ;
}

#upload-avatar-button, #register-button {
    background-color: #4f565e;
    color: lightgoldenrodyellow ;
    border-color: rgb(206, 212, 218);
}