
body {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 70px;
}


*:focus {
    box-shadow: none !important;
    border-color: lightgoldenrodyellow !important;
}

article {
    color: #fff;
    background-color: #4f565e !important;
}

#search-button {
    background-color: #4f565e;
    color: #fff;
    border-color: rgb(206, 212, 218);
}

input {
    color: lightgoldenrodyellow !important;
    background-color: #4f565e !important;
}

input::placeholder {
    color: rgba(250, 250, 210, 0.767) !important;
}

a {
    color: lightgoldenrodyellow;
}

a:hover {
    color: lightgoldenrodyellow;
}

.page-link {
    color: lightgoldenrodyellow;
    background-color: #4f565e;
    border-color: rgb(206, 212, 218);
}

.page-link:hover {
    color: lightgoldenrodyellow;
    background-color: #232427;
}

.page-link:visited {
    background-color: #4f565e;
    color: lightgoldenrodyellow;
}

.page-item {
    border-color: rgb(206, 212, 218) !important;
}

textarea {
    height: 300px;
    resize: none;
}

.form-control {
    color: #fff !important;
    background-color: #4f565e !important;
}

#ask-button, #save-button {
    background-color: #4f565e;
    color: lightgoldenrodyellow;
    border-color: rgb(206, 212, 218);
    width: 74px;
}

#inputGroup-sizing-lg, #inputGroup-sizing {
    background-color: #4f565e;
    color: lightgoldenrodyellow;
    border-color: rgb(206, 212, 218);
}

#upload-avatar-button, #register-button, #login-button, #answer-button {
    background-color: #4f565e;
    color: lightgoldenrodyellow;
    border-color: rgb(206, 212, 218);
}

#main-question {
    background-color: #343a40 !important;
    border: none;
}

hr {
    border: none;
    height: 3px;
    background-color: #fff; /* ???? */
}

.form-check {
    padding-top: 21px;
    padding-left: 35px;
}

.card-body {
    padding-top: 9px;
}

.form-check-input {
    color: lightgoldenrodyellow !important;
    border-color: #fff;
}

.form-check-input:checked {
    border-color: lightgoldenrodyellow;
}

#answer-button:hover, #register-button:hover, #upload-avatar-button:hover, #ask-button:hover, #login-button:hover, #save-button:hover {
    background-color: #232427;
}
