{% extends "layouts/base.html" %}
{% load static %}

{% block page_title %}
    <h2>New Question</h2>
{% endblock page_title %}

{% block left_column_class %}col-7{% endblock left_column_class %}
{% block right_column_class %}col-5{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 65px;{% endblock right_column_styling %}

{% block content %}
    <form method="post">
    {% csrf_token %}
        <div class="d-flex flex-column">
            <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg"
                  style="padding-left: 18px; padding-right: 18px;">Title</span>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg"
                  style="padding-left: 19px; padding-right: 19px;">Text</span>
                <textarea type="text" class="form-control" name="text"></textarea>
            </div>
            <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg"
                  style="padding-left: 17px; padding-right: 17px;">Tags</span>
                <input type="text" class="form-control" name="tags">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="ask-button">Ask</button>
    </form>
{% endblock content %}