{% extends "layouts/base.html" %}
{% load static %}

{% block page_title %}
    <h2>Новый вопрос</h2>
{% endblock page_title %}

{% block left_column_class %}col-7{% endblock left_column_class %}
{% block right_column_class %}col-5{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 65px;{% endblock right_column_styling %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class="list-group mb-2">
                {% for error in form.non_field_errors %}
                    <li class="list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="d-flex flex-column">
            <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg"
                  style="padding-left: 18px; padding-right: 18px;">Название</span>
                <input type="text" class="form-control {% if form.title.errors %}is-invalid{% endif %}" name="title" value="{{ form.title.value|default_if_none:'' }}">
            </div>
            {% if form.title.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.title.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg"
                  style="padding-left: 19px; padding-right: 19px;">Текст</span>
                <textarea type="text" class="form-control {% if form.text.errors %}is-invalid{% endif %}" name="text">{{ form.text.value|default_if_none:'' }}</textarea>
            </div>
            {% if form.text.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.text.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group input-group-lg mb-3">
            <span class="input-group-text" id="inputGroup-sizing-lg"
                  style="padding-left: 17px; padding-right: 17px;">Теги</span>
                <input type="text" class="form-control {% if form.tags.errors %}is-invalid{% endif %}" name="tags" value="{{ form.tags.value|default_if_none:'' }}">
            </div>
            {% if form.tags.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.tags.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit" id="ask-button">Задать вопрос</button>
    </form>
{% endblock content %}