<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ask Me!</title>
    <link rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top" style="background-color: #232427;">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand" href="/index.html" style="color: #fff;">Ask Me!</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-light" type="submit" id="search-button">Search</button>
            </form>
            <div class="d-flex justify-content-between gap-3">
                <div class="justify-content-center">
                    <a href="/registration.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <main class="container-fluid container-lg mt-3">
        <div class="d-flex gap-3 align-items-center mb-3">
            <h2>Login</h2>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="d-flex flex-column">
                    <p style="color: red;">Sorry, wrong password</p>
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing"
                            style="padding-left: 45.2px; padding-right: 45.2px;">Login</span>
                        <input type="text" class="form-control">
                    </div>
                    <div class="input-group input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing"
                            style="padding-left: 32px; padding-right: 32px;">Password</span>
                        <input type="password" class="form-control">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" id="register-button"
                    style="padding-left: 45.5px; padding-right: 45.5px;">Login</button>
            </div>
            <div class="col-7" style="padding-left: 225px;">
                <h3>Popular Tags</h3>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-secondary"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-success"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-danger"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-warning"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-info"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                        <button class="btn btn-light"
                            style="--bs-btn-padding-y: .25; --bs-btn-padding-x: .5; --bs-btn-font-size: 90%;">Tag
                            text</button>
                    </div>
                </div>
                <h3 class="mt-5">Best Members</h3>
                <div>
                    <a href="/member.html" class="d-block">Mr. Freeman</a><a href="/member.html" class="d-block">Mr.
                        Freeman</a><a href="/member.html" class="d-block">Mr. Freeman</a><a href="/member.html"
                        class="d-block">Mr. Freeman</a><a href="/member.html" class="d-block">Mr. Freeman</a>
                </div>
            </div>
        </div>
    </main>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>