{% extends "layouts/base.html" %}

{% block page_title %}
    <h2>Вход</h2>
{% endblock page_title %}

{% block left_column_class %}col-5{% endblock left_column_class %}
{% block right_column_class %}col-7{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 225px;{% endblock right_column_styling %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class="list-group mb-2">
                {% for error in form.non_field_errors %}
                    <li class="list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="d-flex flex-column">
            <div class="input-group input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing">Логин</span>
                <input type="text" class="form-control" name="django_username">
            </div>
            <div class="input-group input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing">Пароль</span>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="login-button">Войти
        </button>
    </form>

{% endblock content %}