{% extends "layouts/base.html" %}
{% load static %}


{% block page_title %}
    <h2>Настройки аккаунта: {{ user.username }}</h2>
{% endblock page_title %}

{% block left_column_class %}col-5{% endblock left_column_class %}
{% block right_column_class %}col-7{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 225px;{% endblock right_column_styling %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class="list-group mb-2">
                {% for error in form.non_field_errors %}
                    <li class="list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="d-flex flex-column">
            <div class="input-group input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing">Имя пользователя</span>
                <input type="text" class="form-control {% if form.django_username.errors %}is-invalid{% endif %}"
                       name="django_username" value="{{ form.django_username.value|default_if_none:'' }}">
            </div>

            {% if form.django_username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.django_username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing">Почта</span>
                <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" name="email"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>
            {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing">Отображаемое имя</span>
                <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                       name="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group input-group mb-3">
                <button class="btn me-4" id="upload-avatar-button"
                        onclick="document.getElementById('formFile').click()"
                        style="padding-left: 14.5px; padding-right: 14.5px;" type="button">Загрузить аватар
                </button>
                <img src="{{ request.user.profile.avatar.url }}" id="profile_image" width="100" height="100"/>
                <input style="display: none;" class="form-control" id="formFile" type="file" name="profile_img"
                       onchange="document.getElementById('profile_image').src = window.URL.createObjectURL(this.files[0])">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="save-button">Сохранить</button>
    </form>
{% endblock content %}