{% extends "layouts/base.html" %}
{% load static %}
{% block login_state %}
    <div class="d-flex justify-content-between gap-3 me-4">
        <div class="border">
            <img src="{% static "img/img2.jpg" %}" width="50" height="50" />
        </div>
        <div class="d-flex flex-column justify-content-between">
            <a href="{% url "profile" %}">Username</a>
            <a href="/logout.html">Log out</a>
        </div>
    </div>
{% endblock login_state %}

{% block page_title %}
    <h2>Account settings: Username</h2>
{% endblock page_title %}

{% block left_column_class %}col-5{% endblock left_column_class %}
{% block right_column_class %}col-7{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 225px;{% endblock right_column_styling %}

{% block content %}
    <div class="d-flex flex-column">
        <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing"
                style="padding-left: 45.2px; padding-right: 45.2px;">Login</span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing"
                style="padding-left: 46px; padding-right: 46px;">Email</span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing"
                style="padding-left: 29.5px; padding-right: 29.5px;">Username</span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group input-group mb-3">
            <button class="btn me-4" id="upload-avatar-button"
                onclick="document.getElementById('formFile').click()"
                style="padding-left: 14.5px; padding-right: 14.5px;">Upload Avatar</button>
            <img src="{% static "img/img2.jpg" %}" width="100" height="100" />
            <input style="display: none;" class="form-control form-control" id="formFile" type="file">
        </div>
    </div>
    <button class="btn btn-primary" type="submit" id="ask-button">Save</button>
{% endblock content %}