{% extends "layouts/base.html" %}
{% load static %}

{% block page_title %}
    <h2>Account settings: {{ user.username }}</h2>
{% endblock page_title %}

{% block left_column_class %}col-5{% endblock left_column_class %}
{% block right_column_class %}col-7{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 225px;{% endblock right_column_styling %}

{% block content %}
    <form method="post">
    {% csrf_token %}
        <div class="d-flex flex-column">
            <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing"
                  style="padding-left: 45.2px; padding-right: 45.2px;">Login</span>
                <input type="text" class="form-control" name="django_username">
            </div>
            <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing"
                  style="padding-left: 46px; padding-right: 46px;">Email</span>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="input-group input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing"
                  style="padding-left: 29.5px; padding-right: 29.5px;">Username</span>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="input-group input-group mb-3">
                <button class="btn me-4" id="upload-avatar-button"
                        onclick="document.getElementById('formFile').click()"
                        style="padding-left: 14.5px; padding-right: 14.5px;">Upload Avatar
                </button>
                <img src="{% static "img/img2.jpg" %}" width="100" height="100"/>
                <input style="display: none;" class="form-control form-control" id="formFile" type="file">
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="save-button">Save</button>
    </form>
{% endblock content %}