{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    {% include "layouts/single_question.html" %}
    {% if answers %}
        <hr>
        {% for answer in answers %}
            {% include "layouts/answer.html" %}
        {% endfor %}
        {% include "layouts/pagination.html" with pages=answers %}
    {% endif %}
    <hr>
    <form method="post">
        <div class="input-group input-group-lg mb-3 mx-auto" style="max-width: 80%;">
        <span class="input-group-text" id="inputGroup-sizing-lg"
              style="padding-left: 19px; padding-right: 19px;">Type <br> your <br> answer</span>
            <textarea type="text" class="form-control" style="height: 150px;" name="answer_text"></textarea>
            <button class="btn" type="submit" id="answer-button">Answer</button>
        </div>
    </form>
{% endblock content %}