{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    {% include "layouts/single_question.html" %}
    {% if answers %}
        <hr>
        {% for answer in answers %}
            {% include "layouts/answer.html" %}
        {% endfor %}
        {% include "layouts/pagination.html" with pages=answers question=question %}
    {% endif %}
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg mb-3 mx-auto" style="max-width: 80%;">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="align-items: center">Введите <br> свой <br> ответ</span>
            <textarea type="text" class="form-control"
                      name="answer_text" id="answer-area">{{ form.answer_text.value|default_if_none:'' }}</textarea>
            <button class="btn btn-primary" type="submit" id="answer-button">Ответить</button>
        </div>
        {% if form.answer_text.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.answer_text.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </form>

{% endblock content %}