{% extends "layouts/base.html" %}
{% load static %}

{% block page_title %}
    <h2>Registration</h2>
{% endblock page_title %}

{% block left_column_class %}col-5{% endblock left_column_class %}
{% block right_column_class %}col-7{% endblock right_column_class %}
{% block right_column_styling %}padding-left: 225px;{% endblock right_column_styling %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class="list-group mb-2">
                {% for error in form.non_field_errors %}
                    <li class="list-group-item-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="d-flex flex-column">
            <div class="input-group input-group mb-3">
                <label class="input-group-text" id="inputGroup-sizing" for="loginInput"
                       style="padding-left: 45.2px; padding-right: 45.2px;">Имя пользователя</label>
                <input type="text" class="form-control {% if form.django_username.errors %}is-invalid{% endif %}"
                       id="loginInput" name="django_username"
                       value="{{ form.django_username.value|default_if_none:'' }}">
            </div>
            {% if form.django_username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.django_username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group input-group mb-3">
                <label class="input-group-text" id="inputGroup-sizing" for="emailInput"
                       style="padding-left: 46px; padding-right: 46px;">Почта</label>
                <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="emailInput"
                       name="email"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>
            {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group input-group mb-3">
                <label class="input-group-text" id="inputGroup-sizing" for="usernameInput"
                       style="padding-left: 29.5px; padding-right: 29.5px;">Отображаемое имя</label>
                <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                       id="usernameInput" name="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group input-group mb-3">
                <label class="input-group-text" id="inputGroup-sizing" for="passwordInput"
                       style="padding-left: 32px; padding-right: 32px;">Пароль</label>
                <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                       id="passwordInput" name="password">
            </div>
            {% if form.password.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group input-group mb-3">
                <label class="input-group-text" id="inputGroup-sizing" for="repeatPasswordInput"
                       style="padding-left: 32px; padding-right: 32px;">Повторите <br> пароль</label>
                <input type="password" class="form-control {% if form.repeat_password.errors %}is-invalid{% endif %}"
                       id="repeatPasswordInput" name="repeat_password">
            </div>
            {% if form.repeat_password.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.repeat_password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="input-group input-group mb-3">
                <button class="btn me-4" id="upload-avatar-button"
                        style="padding-left: 14.5px; padding-right: 14.5px;"
                        onclick="document.getElementById('formFile').click()" type="button">Upload Avatar
                </button>
                <img id="default_register_profile_image" src="../upload/img/default_profile_pic.jpg" width="100"
                     height="100" alt="defaultProfilePic"/>
                <input style="display: none;" class="form-control" id="formFile" type="file" name="profile_img"
                       onchange="document.getElementById('default_register_profile_image').src = window.URL.createObjectURL(this.files[0])">
            </div>

            <div class="input-group input-group mb-3">
                <button class="btn btn-primary" type="submit" id="register-button"
                        style="padding-left: 36.5px; padding-right: 36.5px;">Register
                </button>
            </div>
        </div>
    </form>
{% endblock %}